:root {
    --primary-color: #0F3C65;
    --accent-color: #1D5C99;
    --text-color: #1A1A1A;
    --background-color: #F9FAFB;
    --white: #FFFFFF;
}

html {
    font-size: 62.5%; /* Ahora 1rem = 10px */
}

body {
    margin: 0rem;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
} 

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0rem;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2.4rem 3.2rem;
    text-align: center;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    max-width: 200px;
    border-radius: 15px;
}

h1 {
    font-size: 4rem;
    margin: 0rem 0rem 1.6rem 0rem;
}
  
h2 {
    padding: 1.28rem 3.2rem;
    font-size: 3.2rem; 
    color: var(--primary-color);
    margin-top: 3.2rem;
}
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.4rem;
    margin: 1.6rem 2rem 0rem 2rem;
}
  
.card {
    background: var(--white);
    padding: 2.4rem; /*24*/
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
  
.card img {
    width: 40px;
    margin-bottom: 1.6rem; /*16*/
}

p {
    padding: 1.28rem 1.2rem;
    font-size: 2.5rem;
    margin: 0;
}

.proyecciones {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.4rem;
    background-color: var(--primary-color);
    text-align: center;
}

.proyecciones h2{
    color: var(--white);
    margin: 2rem 0rem 0rem 0rem;
    padding: 0;
}

.proyeccion p {
    color: var(--white);
    font-size: 1.5rem;
}

.cardPro img {
    width: 100px;
}

.proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    padding: 1.28rem 3.2rem; /*12.8 - 32*/
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.6rem; 
    margin-top: 1.6rem; 
}

button:hover {
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
}

.logos {
    padding: 1.28rem 3.2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.6rem; 
    margin-top: 1.6rem;
  }
  
.logo {
    width: 100px;
    height: 60px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.talento h2 {
    padding: 1.28rem 3.2rem;
    font-size: 3.2rem; 
    color: var(--primary-color);
    margin: 3.2rem 0 0.5rem 0;
}
.empleados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.4rem;
    margin-top: 1.6rem;
    justify-items: center;
}

.empleados img {
    width: 80vw;
    max-width: 400px;
    margin-bottom: 1.6rem;
}

.especialistas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.4rem;
    margin-top: 1.6rem;
    padding: 0 2rem;
}
  
.persona {
    background: var(--white);
    padding: 2.4rem; /*24*/
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}
  
.persona img {
    width: 200px;
    margin-bottom: 1.6rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 2.4rem 3.2rem; /*64 - 32*/
    text-align: center;
    margin-top: 3.5rem;
}

footer h2 {
    color: var(--white);
}

footer p {
    padding: 0;
    font-size: 1.5rem;
}